.button.border-red
	border-color red
	color red
	&:hover, &:focus
		background-color red
		color white
		
.button.border-orange
	border-color orange
	color orange
	&:hover, &:focus
		background-color orange
		color white
		
.button.border-yellow
	border-color yellow
	color yellow
	&:hover, &:focus
		background-color yellow
		color white
		
.button.border-lime
	border-color lime
	color lime
	&:hover, &:focus
		background-color lime
		color white
		
.button.border-green
	border-color green
	color green
	&:hover, &:focus
		background-color green
		color white
		
.button.border-lightblue
	border-color lightblue
	color lightblue
	&:hover, &:focus
		background-color lightblue
		color white
		
.button.border-blue
	border-color blue
	color blue
	&:hover, &:focus
		background-color blue
		color white
		
.button.border-purple
	border-color purple
	color purple
	&:hover, &:focus
		background-color purple
		color white
		
.button.border-pink
	border-color pink
	color pink
	&:hover, &:focus
		background-color pink
		color white
		
.button.border-black
	border-color black
	color black
	&:hover, &:focus
		background-color black
		color white
		
.button.border-white
	border-color white
	color white
	&:hover, &:focus
		background-color white
		color black
		
.button.border-gray
	border-color gray
	color gray
	&:hover, &:focus
		background-color gray
		color white