@import 'variables.styl'
.button
	text-decoration none!important
	display inline-block
	padding 7.5px 15px
	color blue
	border 1px solid transparent
	border-radius 2px
	background-color transparent
	font-family sans-serif
	letter-spacing .4px
	font-size 16px
	margin-left 2px
	margin-right 2px
	&:hover,&:focus
		color darken(@color, 20%)
.button.transition
	transition-duration .2s
.button.rounded
	border-radius 100rem
	padding 7.5px 22.5+5px
.button.small
	font-size 12px
	padding 5.625px 11.25+5px
.button.medium
	font-size 20px
	padding 9.375px 18.75+5px
.button.large
	font-size 24px
	padding 11.25px 22.5+5px
.button.small.rounded
	padding 5.625px 16.875+5px
.button.medium.rounded
	padding 9.375px 28.125+5px
.button.large.rounded
	padding 11.25px 33.75+5px
.button.semi-transparent
	opacity .5
.button.shadow
	box-shadow: 0px 0px 9.7px rgba(0, 0, 0, 0.43);

@import 'fill-style.styl'
@import 'dark-fill-style.styl'
@import 'whitish-fill-style.styl'
@import 'border-style.styl'
@import 'dark-border-style.styl'
@import 'whitish-border-style.styl'
@import 'gradient-style.styl'
