.button.fill-dark-red
	background-color darken(red, 50%)
	color white
	&:hover, &:focus
		background-color darken(red, 70%)

.button.fill-dark-orange
	background-color darken(orange, 50%)
	color white
	&:hover, &:focus
		background-color darken(orange, 70%)

.button.fill-dark-yellow
	background-color darken(yellow, 50%)
	color white
	&:hover, &:focus
		background-color darken(yellow, 70%)

.button.fill-dark-lime
	background-color darken(lime, 50%)
	color white
	&:hover, &:focus
		background-color darken(lime, 70%)

.button.fill-dark-green
	background-color darken(green, 50%)
	color white
	&:hover, &:focus
		background-color darken(green, 70%)

.button.fill-dark-lightblue
	background-color darken(lightblue, 50%)
	color white
	&:hover, &:focus
		background-color darken(lightblue, 70%)

.button.fill-dark-blue
	background-color darken(blue, 50%)
	color white
	&:hover, &:focus
		background-color darken(blue, 70%)

.button.fill-dark-purple
	background-color darken(purple, 50%)
	color white
	&:hover, &:focus
		background-color darken(purple, 70%)

.button.fill-dark-pink
	background-color darken(pink, 50%)
	color white
	&:hover, &:focus
		background-color darken(pink, 70%)

.button.fill-dark-black
	background-color darken(black, 50%)
	color white
	&:hover, &:focus
		background-color darken(black, 70%)

.button.fill-dark-white
	background-color darken(white, 50%)
	color black
	&:hover, &:focus
		background-color darken(white, 70%)

.button.fill-dark-gray
	background-color darken(gray, 50%)
	color black
	&:hover, &:focus
		background-color darken(gray, 70%)
