.button.border-dark-red
	color darken(red, 50%)
	border-color darken(red, 50%)
	&:hover, &:focus
		background-color darken(red, 50%)
		color white

.button.border-dark-orange
	color darken(orange, 50%)
	border-color darken(orange, 50%)
	&:hover, &:focus
		background-color darken(orange, 50%)
		color white

.button.border-dark-yellow
	color darken(yellow, 50%)
	border-color darken(yellow, 50%)
	&:hover, &:focus
		background-color darken(yellow, 50%)
		color white

.button.border-dark-lime
	color darken(lime, 50%)
	border-color darken(lime, 50%)
	&:hover, &:focus
		background-color darken(lime, 50%)
		color white

.button.border-dark-green
	color darken(green, 50%)
	border-color darken(green, 50%)
	&:hover, &:focus
		background-color darken(green, 50%)
		color white

.button.border-dark-lightblue
	color darken(lightblue, 50%)
	border-color darken(lightblue, 50%)
	&:hover, &:focus
		background-color darken(lightblue, 50%)
		color white

.button.border-dark-blue
	color darken(blue, 50%)
	border-color darken(blue, 50%)
	&:hover, &:focus
		background-color darken(blue, 50%)
		color white

.button.border-dark-purple
	color darken(purple, 50%)
	border-color darken(purple, 50%)
	&:hover, &:focus
		background-color darken(purple, 50%)
		color white

.button.border-dark-pink
	color darken(pink, 50%)
	border-color darken(pink, 50%)
	&:hover, &:focus
		background-color darken(pink, 50%)
		color white

.button.border-dark-black
	color darken(black, 50%)
	border-color darken(black, 50%)
	&:hover, &:focus
		background-color darken(black, 50%)
		color white

.button.border-dark-white
	color darken(white, 50%)
	border-color darken(white, 50%)
	&:hover, &:focus
		background-color darken(white, 50%)
		color white

.button.border-dark-gray
	color darken(gray, 50%)
	border-color darken(gray, 50%)
	&:hover, &:focus
		background-color darken(gray, 50%)
		color white
