.button.fill-red
	background-color red
	color white	
	&:hover, &:focus
		background-color darken(red, 10%)
		
.button.fill-orange
	background-color orange
	color white
	&:hover, &:focus
		background-color darken(orange, 10%)

.button.fill-yellow
	background-color yellow
	color white
	&:hover, &:focus
		background-color darken(yellow, 10%)

.button.fill-lime
	background-color lime
	color white
	&:hover, &:focus
		background-color darken(lime, 10%)

.button.fill-green
	background-color green
	color white
	&:hover, &:focus
		background-color darken(green, 10%)
		
.button.fill-lightblue
	background-color lightblue
	color white
	&:hover, &:focus
		background-color darken(lightblue, 10%)
		
.button.fill-blue
	background-color blue
	color white
	&:hover, &:focus
		background-color darken(blue, 10%)
		
.button.fill-purple
	background-color purple
	color white
	&:hover, &:focus
		background-color darken(purple, 10%)
		
.button.fill-pink
	background-color pink
	color white
	&:hover, &:focus
		background-color darken(pink, 10%)
		
.button.fill-black
	background-color black
	color white
	&:hover, &:focus
		background-color darken(black, 10%)
		
.button.fill-white
	background-color white
	color black
	&:hover, &:focus
		background-color darken(white, 10%)

.button.fill-gray
	background-color gray
	color black
	&:hover, &:focus
		background-color darken(gray, 10%)