.button.gradient-red
    background linear-gradient(lighten(red, 30%), red)
    color white
    border-color red
    &:hover
        background linear-gradient(lighten(red, 30%), darken(red, 20%))

.button.gradient-orange
    background linear-gradient(lighten(orange, 30%), orange)
    color white
    border-color orange
    &:hover
        background linear-gradient(lighten(orange, 30%), darken(orange, 20%))

.button.gradient-yellow
    background linear-gradient(lighten(yellow, 30%), yellow)
    color white
    border-color yellow
    &:hover
        background linear-gradient(lighten(yellow, 30%), darken(yellow, 20%))

.button.gradient-lime
    background linear-gradient(lighten(lime, 30%), lime)
    color white
    border-color lime
    &:hover
        background linear-gradient(lighten(lime, 30%), darken(lime, 20%))

.button.gradient-green
    background linear-gradient(lighten(green, 30%), green)
    color white
    border-color green
    &:hover
        background linear-gradient(lighten(green, 30%), darken(green, 20%))

.button.gradient-lightblue
    background linear-gradient(lighten(lightblue, 30%), lightblue)
    color white
    border-color lightblue
    &:hover
        background linear-gradient(lighten(lightblue, 30%), darken(lightblue, 20%))

.button.gradient-blue
    background linear-gradient(lighten(blue, 30%), blue)
    color white
    border-color blue
    &:hover
        background linear-gradient(lighten(blue, 30%), darken(blue, 20%))

.button.gradient-purple
    background linear-gradient(lighten(purple, 30%), purple)
    color white
    border-color purple
    &:hover
        background linear-gradient(lighten(purple, 30%), darken(purple, 20%))

.button.gradient-pink
    background linear-gradient(lighten(pink, 30%), pink)
    color white
    border-color pink
    &:hover
        background linear-gradient(lighten(pink, 30%), darken(pink, 20%))

.button.gradient-black
    background linear-gradient(lighten(black, 30%), black)
    color white
    border-color black
    &:hover
        background linear-gradient(lighten(black, 30%), darken(black, 20%))

.button.gradient-white
    background linear-gradient(lighten(white, 30%), white)
    color black
    border-color white
    &:hover
        background linear-gradient(lighten(white, 30%), darken(white, 20%))

.button.gradient-gray
    background linear-gradient(lighten(gray, 30%), gray)
    color white
    border-color gray
    &:hover
        background linear-gradient(lighten(gray, 30%), darken(gray, 20%))
