white = #ffffff
black = #111
gray = #d0d0d0
red = #ff3c00
orange = #ff9000
yellow = #ffd800
lime = #00e600
green = #009600
lightblue = #00b4ff
blue = #0072ff
purple = #9c00ff
pink = #ff00e4
transparent = rgba(0,0,0,0)