.button.border-whitish-red
	color lighten(red, 50%)
	border-color lighten(red, 50%)
	&:hover, &:focus
		background-color lighten(red, 50%)
		color white

.button.border-whitish-orange
	color lighten(orange, 50%)
	border-color lighten(orange, 50%)
	&:hover, &:focus
		background-color lighten(orange, 50%)
		color white

.button.border-whitish-yellow
	color lighten(yellow, 50%)
	border-color lighten(yellow, 50%)
	&:hover, &:focus
		background-color lighten(yellow, 50%)
		color white

.button.border-whitish-lime
	color lighten(lime, 50%)
	border-color lighten(lime, 50%)
	&:hover, &:focus
		background-color lighten(lime, 50%)
		color white

.button.border-whitish-green
	color lighten(green, 50%)
	border-color lighten(green, 50%)
	&:hover, &:focus
		background-color lighten(green, 50%)
		color white

.button.border-whitish-lightblue
	color lighten(lightblue, 50%)
	border-color lighten(lightblue, 50%)
	&:hover, &:focus
		background-color lighten(lightblue, 50%)
		color white

.button.border-whitish-blue
	color lighten(blue, 50%)
	border-color lighten(blue, 50%)
	&:hover, &:focus
		background-color lighten(blue, 50%)
		color white

.button.border-whitish-purple
	color lighten(purple, 50%)
	border-color lighten(purple, 50%)
	&:hover, &:focus
		background-color lighten(purple, 50%)
		color white

.button.border-whitish-pink
	color lighten(pink, 50%)
	border-color lighten(pink, 50%)
	&:hover, &:focus
		background-color lighten(pink, 50%)
		color white

.button.border-whitish-black
	color lighten(black, 50%)
	border-color lighten(black, 50%)
	&:hover, &:focus
		background-color lighten(black, 50%)
		color white
