.button.fill-whitish-red
	background-color lighten(red, 50%)
	color white
	&:hover, &:focus
		background-color red

.button.fill-whitish-orange
	background-color lighten(orange, 50%)
	color white
	&:hover, &:focus
		background-color orange

.button.fill-whitish-yellow
	background-color lighten(yellow, 50%)
	color white
	&:hover, &:focus
		background-color yellow

.button.fill-whitish-lime
	background-color lighten(lime, 50%)
	color white
	&:hover, &:focus
		background-color lime

.button.fill-whitish-green
	background-color lighten(green, 50%)
	color white
	&:hover, &:focus
		background-color green

.button.fill-whitish-lightblue
	background-color lighten(lightblue, 50%)
	color white
	&:hover, &:focus
		background-color lightblue

.button.fill-whitish-blue
	background-color lighten(blue, 50%)
	color white
	&:hover, &:focus
		background-color blue

.button.fill-whitish-purple
	background-color lighten(purple, 50%)
	color white
	&:hover, &:focus
		background-color purple

.button.fill-whitish-pink
	background-color lighten(pink, 50%)
	color white
	&:hover, &:focus
		background-color pink

.button.fill-whitish-black
	background-color lighten(black, 50%)
	color white
	&:hover, &:focus
		background-color black
