
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='U-XA-Compatible', content='IE=edge')
    meta(name='author', content='Butns')
    meta(name='description', content="Butns is an advanced buttons library for your website, using a set of pre defined classes you can fully customize your button and step up your website's design.")
    title Butns
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico', rel='stylesheet')
    link(rel='stylesheet', href='demo/css/style.css')
    link(rel='stylesheet', href='dist/butns.min.css')
  body
    header.header_page
      .container-fluid
        .text-center
          h1 Butns
          h3 V1.0.0
          a.button.border-white.transition.medium(href='https://github.com/ahmedtarek2134/Butns/archive/master.zip')
            i.fa.fa-download
            |                             Download Now
          a.button.border-white.transition.medium(href='https://github.com/ahmedtarek2134/Butns')
            i.fa.fa-github
            |                             Github Repo
    section.about_section
      .container
        .text-center
          h2 About Butns
          h4
            | Butns is an advanced buttons library for your website, using a set of pre defined classes you can fully customize your button and step up your website's design.
    hr
    section.demo_section
      .container
        .text-center
          h2 Demo
          h4 Check out all of the buttons you can create with Butns
          h4 Note: White buttons may not appear because of the background colour matching it
          h4 Note: There are no whitish white or gray colours
          .buttons
            a.button.transition.fill-red(href='#') Button
            a.button.transition.fill-orange(href='#') Button
            a.button.transition.fill-yellow(href='#') Button
            a.button.transition.fill-lime(href='#') Button
            a.button.transition.fill-green(href='#') Button
            a.button.transition.fill-lightblue(href='#') Button
            a.button.transition.fill-blue(href='#') Button
            a.button.transition.fill-purple(href='#') Button
            a.button.transition.fill-pink(href='#') Button
            a.button.transition.fill-black(href='#') Button
            a.button.transition.fill-white(href='#') Button
            a.button.transition.fill-gray(href='#') Button
          .buttons
            a.button.transition.fill-dark-red(href='#') Button
            a.button.transition.fill-dark-orange(href='#') Button
            a.button.transition.fill-dark-yellow(href='#') Button
            a.button.transition.fill-dark-lime(href='#') Button
            a.button.transition.fill-dark-green(href='#') Button
            a.button.transition.fill-dark-lightblue(href='#') Button
            a.button.transition.fill-dark-blue(href='#') Button
            a.button.transition.fill-dark-purple(href='#') Button
            a.button.transition.fill-dark-pink(href='#') Button
            a.button.transition.fill-dark-black(href='#') Button
            a.button.transition.fill-dark-white(href='#') Button
            a.button.transition.fill-dark-gray(href='#') Button
          .buttons
            a.button.transition.fill-whitish-red(href='#') Button
            a.button.transition.fill-whitish-orange(href='#') Button
            a.button.transition.fill-whitish-yellow(href='#') Button
            a.button.transition.fill-whitish-lime(href='#') Button
            a.button.transition.fill-whitish-green(href='#') Button
            a.button.transition.fill-whitish-lightblue(href='#') Button
            a.button.transition.fill-whitish-blue(href='#') Button
            a.button.transition.fill-whitish-purple(href='#') Button
            a.button.transition.fill-whitish-pink(href='#') Button
            a.button.transition.fill-whitish-black(href='#') Button
          .buttons
            a.button.transition.border-red(href='#') Button
            a.button.transition.border-orange(href='#') Button
            a.button.transition.border-yellow(href='#') Button
            a.button.transition.border-lime(href='#') Button
            a.button.transition.border-green(href='#') Button
            a.button.transition.border-lightblue(href='#') Button
            a.button.transition.border-blue(href='#') Button
            a.button.transition.border-purple(href='#') Button
            a.button.transition.border-pink(href='#') Button
            a.button.transition.border-black(href='#') Button
            a.button.transition.border-white(href='#') Button
            a.button.transition.border-gray(href='#') Button
          .buttons
            a.button.transition.border-dark-red(href='#') Button
            a.button.transition.border-dark-orange(href='#') Button
            a.button.transition.border-dark-yellow(href='#') Button
            a.button.transition.border-dark-lime(href='#') Button
            a.button.transition.border-dark-green(href='#') Button
            a.button.transition.border-dark-lightblue(href='#') Button
            a.button.transition.border-dark-blue(href='#') Button
            a.button.transition.border-dark-purple(href='#') Button
            a.button.transition.border-dark-pink(href='#') Button
            a.button.transition.border-dark-black(href='#') Button
            a.button.transition.border-dark-white(href='#') Button
            a.button.transition.border-dark-gray(href='#') Button
          .buttons
            a.button.transition.border-whitish-red(href='#') Button
            a.button.transition.border-whitish-orange(href='#') Button
            a.button.transition.border-whitish-yellow(href='#') Button
            a.button.transition.border-whitish-lime(href='#') Button
            a.button.transition.border-whitish-green(href='#') Button
            a.button.transition.border-whitish-lightblue(href='#') Button
            a.button.transition.border-whitish-blue(href='#') Button
            a.button.transition.border-whitish-purple(href='#') Button
            a.button.transition.border-whitish-pink(href='#') Button
            a.button.transition.border-whitish-black(href='#') Button
    hr
    section.button_options
      .container
        .text-center
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h2 Available Colours
              h4 Note: More colours will be introduced in updated versions
              .colours
                a.button.transition.fill-red(href='#') red
                a.button.transition.fill-orange(href='#') orange
                a.button.transition.fill-yellow(href='#') yellow
                a.button.transition.fill-lime(href='#') lime
                a.button.transition.fill-green(href='#') green
                a.button.transition.fill-lightblue(href='#') lightblue
                a.button.transition.fill-blue(href='#') blue
                a.button.transition.fill-purple(href='#') purple
                a.button.transition.fill-pink(href='#') pink
                a.button.transition.fill-black(href='#') black
                a.button.transition.fill-white(href='#') white
                a.button.transition.fill-gray(href='#') gray
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h2 Available Options
              h4 Note: you could add more than one option to a single button!
              .options
                a.button.fill-purple.large(href='#') large
                a.button.fill-purple.medium(href='#') medium
                a.button.fill-purple.small(href='#') small
                a.button.fill-purple.transition(href='#') transition
                a.button.fill-purple.rounded(href='#') rounded
                a.button.fill-purple.semi-transparent(href='#') semi-transparent
          hr
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              h2 Available Types
              .row
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                  h4 fill-purple
                  a.button.fill-purple(href='#') Button
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                  h4 fill-dark-purple
                  a.button.fill-dark-purple(href='#') Button
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                  h4 fill-whitish-purple
                  a.button.fill-whitish-purple(href='#') Button
              .row
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                  h4 border-purple
                  a.button.border-purple(href='#') Button
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                  h4 border-dark-purple
                  a.button.border-dark-purple(href='#') Button
                .col-lg-4.col-md-4.col-sm-12.col-xs-12
                  h4 border-whitish-purple
                  a.button.border-whitish-purple(href='#') Button
    hr
    section.usage_section
      .container
        .text-center
          h2 Usage
          h4 Check this guide to get started using Butns!
          h4
            | We will use the purple colour for this guide but it works with every colour available
          h3 Fill Style
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button fill-purple">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.fill-purple(href='#') Button
          h3 Dark Fill Style
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button fill-dark-purple">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.fill-dark-purple(href='#') Button
          h3 Whitish Fill Style
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button fill-whitish-purple">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.fill-whitish-purple(href='#') Button
          h3 Border Style
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button border-purple">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.border-purple(href='#') Button
          h3 Dark Border Style
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button border-dark-purple">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.border-dark-purple(href='#') Button
          h3 Whitish Border Style
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button border-whitish-purple">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.border-whitish-purple(href='#') Button
          h3 Transition Option
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button border-purple transition">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.border-purple.transition(href='#') Button
          h3 Semi Transparent Option
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button border-purple semi-transparent">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.border-purple.semi-transparent(href='#') Button
          h3 Rounded Option
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button border-purple rounded">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.border-purple.rounded(href='#') Button
          h3 Medium Option
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button border-purple medium">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.border-purple.medium(href='#') Button
          h3 Large Option
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button border-purple large">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.border-purple.large(href='#') Button
          h3 Small Option
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button border-purple small">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.border-purple.small(href='#') Button
          h3 Chaining Options
          h4
            | Here's how you would put more than one option in a button, we will use the medium and rounded options together
          .row
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              h4 <a href="#" class="button border-purple medium rounded">Button</a>
            .col-lg-6.col-md-6.col-sm-12.col-xs-12
              a.button.border-purple.medium.rounded(href='#') Button
          .text-center(style='padding-top: 50px;')
            a.button.fill-purple.medium(href='#') Back To Top
    hr
    section.license
      .container
        .text-center
          h2 License
          h3 Butns is Licensed under The MIT License
          h4 Copyright (c) 2016 Ahmed Tarek
    script(src='http://code.jquery.com/jquery-3.1.0.slim.min.js', integrity='sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
