@import '../../src/colors'
hr
	display block
	height 0px
	border-top 1px solid grey-300
span
	font-family Pacifico, sans-serif
body
	font-family Josefin Sans, sans-serif
	background-color grey-100
.header
	height 100vh
	width 100vw
	background deep-purple-a200 url(../img/background.svg) center center
	display flex
	align-items center
	justify-content center
	text-align center
	color white
	.fa-github
		color white
		text-decoration none
		position absolute
		right 15px
		top 15px
	p#project
		position absolute
		bottom 25px
		width 100vw
		left 0px
		text-align center
		a
			color white
	.content-wrapper
		position relative
		left 0
		top 0
		h1
			font-family Pacifico, sans-serif
			font-weight 400
			margin -10px
			font-size 5em
		h3
			margin 0px 0px 15px 0px
		p
			margin 0
		#code
			background grey-200
			color deep-purple
			padding 10px 30px
			font-family Monospace
			display inline-block
			margin-bottom 15px
		.butn
			font-family Josefin Sans, sans-serif
			width 8.5em
			.fa
				width 30px
				text-align center


.about
	h1
		font-weight 400
		border-bottom 1px solid deep-purple
		display inline-block
		padding 5px 15px 0px 15px
		span
			font-family Pacifico, sans-serif

.title
	font-weight 400
	border-bottom 1px solid deep-purple
	display inline-block
	padding 5px 15px
	margin 0

.section
	padding 30px 15%
	text-align center
	box-sizing border-box


.installation
	.install
		text-align left
		line-height 2

code
	background-color grey-300
	padding 0px 15px
	color grey-700



.getting-started
	.content
		text-align left
		ol
			padding 0
			line-height 2

.license
	p
		text-align left
		line-height 1.6

.footer
	background-color deep-purple
	color white
	text-align center
	padding 15px 0px


@media (max-width: 768px)
	.section
		padding 30px 5%
