.butn.blue
	background-color blue
	border-color blue-600
	&:hover
		background-color blue-600

.butn.blue.dark
	background-color blue-800
	border-color blue-900
	&:hover
		background-color blue-900

.butn.blue.light
	background-color blue-200
	border-color blue-300
	&:hover
		background-color blue-300

.butn.blue.outline
	background-color transparent
	border-color blue
	color blue
	&:hover
		color white
		background-color blue

.butn.blue.outline.dark
	background-color transparent
	border-color blue-800
	color blue-800
	&:hover
		background-color blue-800
		color white

.butn.blue.outline.light
	background-color transparent
	border-color blue-200
	color blue-200
	&:hover
		background-color blue-200
		color white

.butn.blue.gradient
	background linear-gradient(blue, blue-800)
	color white
	&:hover
		background linear-gradient(blue-600,blue-900)
