.butn.blue-grey
	background-color blue-grey
	border-color blue-grey-600
	&:hover
		background-color blue-grey-600

.butn.blue-grey.dark
	background-color blue-grey-800
	border-color blue-grey-900
	&:hover
		background-color blue-grey-900

.butn.blue-grey.light
	background-color blue-grey-200
	border-color blue-grey-300
	&:hover
		background-color blue-grey-300

.butn.blue-grey.outline
	background-color transparent
	border-color blue-grey
	color blue-grey
	&:hover
		color white
		background-color blue-grey

.butn.blue-grey.outline.dark
	background-color transparent
	border-color blue-grey-800
	color blue-grey-800
	&:hover
		background-color blue-grey-800
		color white

.butn.blue-grey.outline.light
	background-color transparent
	border-color blue-grey-200
	color blue-grey-200
	&:hover
		background-color blue-grey-200
		color white

.butn.blue-grey.gradient
	background linear-gradient(blue-grey, blue-grey-800)
	color white
	&:hover
		background linear-gradient(blue-grey-600,blue-grey-900)
