.butn.brown
	background-color brown
	border-color brown-600
	&:hover
		background-color brown-600

.butn.brown.dark
	background-color brown-800
	border-color brown-900
	&:hover
		background-color brown-900

.butn.brown.light
	background-color brown-200
	border-color brown-300
	&:hover
		background-color brown-300

.butn.brown.outline
	background-color transparent
	border-color brown
	color brown
	&:hover
		color white
		background-color brown

.butn.brown.outline.dark
	background-color transparent
	border-color brown-800
	color brown-800
	&:hover
		background-color brown-800
		color white

.butn.brown.outline.light
	background-color transparent
	border-color brown-200
	color brown-200
	&:hover
		background-color brown-200
		color white

.butn.brown.gradient
	background linear-gradient(brown, brown-800)
	color white
	&:hover
		background linear-gradient(brown-600,brown-900)
