.butn.cyan
	background-color cyan
	border-color cyan-600
	&:hover
		background-color cyan-600

.butn.cyan.dark
	background-color cyan-800
	border-color cyan-900
	&:hover
		background-color cyan-900

.butn.cyan.light
	background-color cyan-200
	border-color cyan-300
	&:hover
		background-color cyan-300

.butn.cyan.outline
	background-color transparent
	border-color cyan
	color cyan
	&:hover
		color white
		background-color cyan

.butn.cyan.outline.dark
	background-color transparent
	border-color cyan-800
	color cyan-800
	&:hover
		background-color cyan-800
		color white

.butn.cyan.outline.light
	background-color transparent
	border-color cyan-200
	color cyan-200
	&:hover
		background-color cyan-200
		color white

.butn.cyan.gradient
	background linear-gradient(cyan, cyan-800)
	color white
	&:hover
		background linear-gradient(cyan-600,cyan-900)
