.butn.deep-orange
	background-color deep-orange
	border-color deep-orange-600
	&:hover
		background-color deep-orange-600

.butn.deep-orange.dark
	background-color deep-orange-800
	border-color deep-orange-900
	&:hover
		background-color deep-orange-900

.butn.deep-orange.light
	background-color deep-orange-200
	border-color deep-orange-300
	&:hover
		background-color deep-orange-300

.butn.deep-orange.outline
	background-color transparent
	border-color deep-orange
	color deep-orange
	&:hover
		color white
		background-color deep-orange

.butn.deep-orange.outline.dark
	background-color transparent
	border-color deep-orange-800
	color deep-orange-800
	&:hover
		background-color deep-orange-800
		color white

.butn.deep-orange.outline.light
	background-color transparent
	border-color deep-orange-200
	color deep-orange-200
	&:hover
		background-color deep-orange-200
		color white

.butn.deep-orange.gradient
	background linear-gradient(deep-orange, deep-orange-800)
	color white
	&:hover
		background linear-gradient(deep-orange-600,deep-orange-900)
