.butn.deep-purple
	background-color deep-purple
	border-color deep-purple-600
	&:hover
		background-color deep-purple-600

.butn.deep-purple.dark
	background-color deep-purple-800
	border-color deep-purple-900
	&:hover
		background-color deep-purple-900

.butn.deep-purple.light
	background-color deep-purple-200
	border-color deep-purple-300
	&:hover
		background-color deep-purple-300

.butn.deep-purple.outline
	background-color transparent
	border-color deep-purple
	color deep-purple
	&:hover
		color white
		background-color deep-purple

.butn.deep-purple.outline.dark
	background-color transparent
	border-color deep-purple-800
	color deep-purple-800
	&:hover
		background-color deep-purple-800
		color white

.butn.deep-purple.outline.light
	background-color transparent
	border-color deep-purple-200
	color deep-purple-200
	&:hover
		background-color deep-purple-200
		color white

.butn.deep-purple.gradient
	background linear-gradient(deep-purple, deep-purple-800)
	color white
	&:hover
		background linear-gradient(deep-purple-600,deep-purple-900)
