.butn.green
	background-color green
	border-color green-600
	&:hover
		background-color green-600

.butn.green.dark
	background-color green-800
	border-color green-900
	&:hover
		background-color green-900

.butn.green.light
	background-color green-200
	border-color green-300
	&:hover
		background-color green-300

.butn.green.outline
	background-color transparent
	border-color green
	color green
	&:hover
		color white
		background-color green

.butn.green.outline.dark
	background-color transparent
	border-color green-800
	color green-800
	&:hover
		background-color green-800
		color white

.butn.green.outline.light
	background-color transparent
	border-color green-200
	color green-200
	&:hover
		background-color green-200
		color white

.butn.green.gradient
	background linear-gradient(green, green-800)
	color white
	&:hover
		background linear-gradient(green-600,green-900)
