.butn.grey
	background-color grey
	border-color grey-600
	&:hover
		background-color grey-600

.butn.grey.dark
	background-color grey-800
	border-color grey-900
	&:hover
		background-color grey-900

.butn.grey.light
	background-color grey-200
	border-color grey-300
	&:hover
		background-color grey-300

.butn.grey.outline
	background-color transparent
	border-color grey
	color grey
	&:hover
		color white
		background-color grey

.butn.grey.outline.dark
	background-color transparent
	border-color grey-800
	color grey-800
	&:hover
		background-color grey-800
		color white

.butn.grey.outline.light
	background-color transparent
	border-color grey-200
	color grey-200
	&:hover
		background-color grey-200
		color white

.butn.grey.gradient
	background linear-gradient(grey, grey-800)
	color white
	&:hover
		background linear-gradient(grey-600,grey-900)
