.butn.indigo
	background-color indigo
	border-color indigo-600
	&:hover
		background-color indigo-600

.butn.indigo.dark
	background-color indigo-800
	border-color indigo-900
	&:hover
		background-color indigo-900

.butn.indigo.light
	background-color indigo-200
	border-color indigo-300
	&:hover
		background-color indigo-300

.butn.indigo.outline
	background-color transparent
	border-color indigo
	color indigo
	&:hover
		color white
		background-color indigo

.butn.indigo.outline.dark
	background-color transparent
	border-color indigo-800
	color indigo-800
	&:hover
		background-color indigo-800
		color white

.butn.indigo.outline.light
	background-color transparent
	border-color indigo-200
	color indigo-200
	&:hover
		background-color indigo-200
		color white

.butn.indigo.gradient
	background linear-gradient(indigo, indigo-800)
	color white
	&:hover
		background linear-gradient(indigo-600,indigo-900)
