.butn.light-blue
	background-color light-blue
	border-color light-blue-600
	&:hover
		background-color light-blue-600

.butn.light-blue.dark
	background-color light-blue-800
	border-color light-blue-900
	&:hover
		background-color light-blue-900

.butn.light-blue.light
	background-color light-blue-200
	border-color light-blue-300
	&:hover
		background-color light-blue-300

.butn.light-blue.outline
	background-color transparent
	border-color light-blue
	color light-blue
	&:hover
		color white
		background-color light-blue

.butn.light-blue.outline.dark
	background-color transparent
	border-color light-blue-800
	color light-blue-800
	&:hover
		background-color light-blue-800
		color white

.butn.light-blue.outline.light
	background-color transparent
	border-color light-blue-200
	color light-blue-200
	&:hover
		background-color light-blue-200
		color white

.butn.light-blue.gradient
	background linear-gradient(light-blue, light-blue-800)
	color white
	&:hover
		background linear-gradient(light-blue-600,light-blue-900)
