.butn.light-green
	background-color light-green
	border-color light-green-600
	&:hover
		background-color light-green-600

.butn.light-green.dark
	background-color light-green-800
	border-color light-green-900
	&:hover
		background-color light-green-900

.butn.light-green.light
	background-color light-green-200
	border-color light-green-300
	&:hover
		background-color light-green-300

.butn.light-green.outline
	background-color transparent
	border-color light-green
	color light-green
	&:hover
		color white
		background-color light-green

.butn.light-green.outline.dark
	background-color transparent
	border-color light-green-800
	color light-green-800
	&:hover
		background-color light-green-800
		color white

.butn.light-green.outline.light
	background-color transparent
	border-color light-green-200
	color light-green-200
	&:hover
		background-color light-green-200
		color white

.butn.light-green.gradient
	background linear-gradient(light-green, light-green-800)
	color white
	&:hover
		background linear-gradient(light-green-600,light-green-900)
