.butn.lime
	background-color lime
	border-color lime-600
	&:hover
		background-color lime-600

.butn.lime.dark
	background-color lime-800
	border-color lime-900
	&:hover
		background-color lime-900

.butn.lime.light
	background-color lime-200
	border-color lime-300
	&:hover
		background-color lime-300

.butn.lime.outline
	background-color transparent
	border-color lime
	color lime
	&:hover
		color white
		background-color lime

.butn.lime.outline.dark
	background-color transparent
	border-color lime-800
	color lime-800
	&:hover
		background-color lime-800
		color white

.butn.lime.outline.light
	background-color transparent
	border-color lime-200
	color lime-200
	&:hover
		background-color lime-200
		color white

.butn.lime.gradient
	background linear-gradient(lime, lime-800)
	color white
	&:hover
		background linear-gradient(lime-600,lime-900)
