.butn.orange
	background-color orange
	border-color orange-600
	&:hover
		background-color orange-600

.butn.orange.dark
	background-color orange-800
	border-color orange-900
	&:hover
		background-color orange-900

.butn.orange.light
	background-color orange-200
	border-color orange-300
	&:hover
		background-color orange-300

.butn.orange.outline
	background-color transparent
	border-color orange
	color orange
	&:hover
		color white
		background-color orange

.butn.orange.outline.dark
	background-color transparent
	border-color orange-800
	color orange-800
	&:hover
		background-color orange-800
		color white

.butn.orange.outline.light
	background-color transparent
	border-color orange-200
	color orange-200
	&:hover
		background-color orange-200
		color white

.butn.orange.gradient
	background linear-gradient(orange, orange-800)
	color white
	&:hover
		background linear-gradient(orange-600,orange-900)
