.butn.pink
	background-color pink
	border-color pink-600
	&:hover
		background-color pink-600

.butn.pink.dark
	background-color pink-800
	border-color pink-900
	&:hover
		background-color pink-900

.butn.pink.light
	background-color pink-200
	border-color pink-300
	&:hover
		background-color pink-300

.butn.pink.outline
	background-color transparent
	border-color pink
	color pink
	&:hover
		color white
		background-color pink

.butn.pink.outline.dark
	background-color transparent
	border-color pink-800
	color pink-800
	&:hover
		background-color pink-800
		color white

.butn.pink.outline.light
	background-color transparent
	border-color pink-200
	color pink-200
	&:hover
		background-color pink-200
		color white

.butn.pink.gradient
	background linear-gradient(pink, pink-800)
	color white
	&:hover
		background linear-gradient(pink-600,pink-900)
