.butn.purple
	background-color purple
	border-color purple-600
	&:hover
		background-color purple-600

.butn.purple.dark
	background-color purple-800
	border-color purple-900
	&:hover
		background-color purple-900

.butn.purple.light
	background-color purple-200
	border-color purple-300
	&:hover
		background-color purple-300

.butn.purple.outline
	background-color transparent
	border-color purple
	color purple
	&:hover
		color white
		background-color purple

.butn.purple.outline.dark
	background-color transparent
	border-color purple-800
	color purple-800
	&:hover
		background-color purple-800
		color white

.butn.purple.outline.light
	background-color transparent
	border-color purple-200
	color purple-200
	&:hover
		background-color purple-200
		color white

.butn.purple.gradient
	background linear-gradient(purple, purple-800)
	color white
	&:hover
		background linear-gradient(purple-600,purple-900)
