.butn.red
	background-color red
	border-color red-600
	&:hover
		background-color red-600
	.tooltip
		position static
		width 20px
		height 20px
		background-color #111
		top 0px

.butn.red.dark
	background-color red-800
	border-color red-900
	&:hover
		background-color red-900

.butn.red.light
	background-color red-200
	border-color red-300
	&:hover
		background-color red-300

.butn.red.outline
	background-color transparent
	border-color red
	color red
	&:hover
		color white
		background-color red

.butn.red.outline.dark
	background-color transparent
	border-color red-800
	color red-800
	&:hover
		background-color red-800
		color white

.butn.red.outline.light
	background-color transparent
	border-color red-200
	color red-200
	&:hover
		background-color red-200
		color white

.butn.red.gradient
	background linear-gradient(red, red-800)
	color white
	&:hover
		background linear-gradient(red-600,red-900)
