.butn.teal
	background-color teal
	border-color teal-600
	&:hover
		background-color teal-600

.butn.teal.dark
	background-color teal-800
	border-color teal-900
	&:hover
		background-color teal-900

.butn.teal.light
	background-color teal-200
	border-color teal-300
	&:hover
		background-color teal-300

.butn.teal.outline
	background-color transparent
	border-color teal
	color teal
	&:hover
		color white
		background-color teal

.butn.teal.outline.dark
	background-color transparent
	border-color teal-800
	color teal-800
	&:hover
		background-color teal-800
		color white

.butn.teal.outline.light
	background-color transparent
	border-color teal-200
	color teal-200
	&:hover
		background-color teal-200
		color white

.butn.teal.gradient
	background linear-gradient(teal, teal-800)
	color white
	&:hover
		background linear-gradient(teal-600,teal-900)
