.butn.yellow
	background-color yellow
	border-color yellow-600
	&:hover
		background-color yellow-600

.butn.yellow.dark
	background-color yellow-800
	border-color yellow-900
	&:hover
		background-color yellow-900

.butn.yellow.light
	background-color yellow-200
	border-color yellow-300
	&:hover
		background-color yellow-300

.butn.yellow.outline
	background-color transparent
	border-color yellow
	color yellow
	&:hover
		color white
		background-color yellow

.butn.yellow.outline.dark
	background-color transparent
	border-color yellow-800
	color yellow-800
	&:hover
		background-color yellow-800
		color white

.butn.yellow.outline.light
	background-color transparent
	border-color yellow-200
	color yellow-200
	&:hover
		background-color yellow-200
		color white

.butn.yellow.gradient
	background linear-gradient(yellow, yellow-800)
	color white
	&:hover
		background linear-gradient(yellow-600,yellow-900)
