@import 'colors'

.butn
	background-color grey
	border-radius 3px
	color white
	display inline-block
	font-family sans-serif
	margin 3px
	padding 10px 30px
	text-decoration none
	border 1px solid
	font-size 16px

.butn.black
	background-color black
	border-color black

.butn.white
	background-color white
	border-color white
	color black

.butn.black.outline
	background-color transparent
	border-color black
	color black
	&:hover
		background-color black
		color white

.butn.white.outline
	background-color transparent
	border-color white
	color white
	&:hover
		background-color white
		color black
@import 'colors/amber'
@import 'colors/blue-grey'
@import 'colors/blue'
@import 'colors/brown'
@import 'colors/cyan'
@import 'colors/deep-orange'
@import 'colors/deep-purple'
@import 'colors/green'
@import 'colors/grey'
@import 'colors/indigo'
@import 'colors/light-blue'
@import 'colors/light-green'
@import 'colors/lime'
@import 'colors/orange'
@import 'colors/pink'
@import 'colors/purple'
@import 'colors/red'
@import 'colors/teal'
@import 'colors/yellow'

@import 'options'
