.butn.rounded
	border-radius 500px

.butn.shadow
	box-shadow 2px 2px 4px 0px rgba(0,0,0,0.4)

.butn.semi-transparent
	opacity .5

.butn.small
	font-size 50%
	padding 5px 15px

.butn.medium
	font-size 75%
	padding 7.5px 22.5px

.butn.large
	font-size 125%
	padding 12.5px 37.5px

.butn.transition
	transition-duration .3s
